graft src/nswdesignsystem
graft docs
include *.rst
include *.txt
include tox.ini
include .coveragerc

# buildout
include base.cfg
include bobtemplate.cfg
include buildout.cfg
include test_plone60.cfg

global-exclude .tool-versions
global-exclude *.pyc
global-exclude .DS_Store
# Don't include unreleased changelogs
prune news
