[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone60.cfg

[versions]
createcoverage = 1.5
watchdog = 2.1.6

# Added by buildout at 2022-09-21 12:01:04.714328
bleach = 3.2.1
coverage = 6.4.4
i18ndude = 5.3.4
keyring = 22.0.1
pkginfo = 1.6.1
readme-renderer = 28.0
requests-toolbelt = 0.9.1
tqdm = 4.51.0
twine = 3.1.1
zest.releaser = 6.22.1

# Required by:
# zest.releaser==6.22.1
colorama = 0.4.4

# Required by:
# bleach==3.2.1
webencodings = 0.5.1

# Required by:
# nswdesignsystem.plone6==0.1.0
z3c.jbot = 1.1.1
